Brotli==1.1.0
certifi==2024.8.30
charset-normalizer==3.4.0
cirtorch @ file:///home/cvdcl/22520965/cnnimageretrieval-pytorch-master
cycler==0.12.1
distlib==0.3.9
filelock==3.16.1
idna==3.10
kiwisolver==1.4.7
matplotlib==3.4.3
mutagen==1.47.0
numpy==1.20.1
opencv-contrib-python==4.10.0.84
opencv-python==4.5.4.60
pillow==11.0.0
platformdirs==4.3.6
pycryptodomex==3.21.0
pyparsing==3.2.0
python-dateutil==2.9.0.post0
requests==2.32.3
six==1.16.0
torch==1.8.0
torchvision==0.9.0
typing_extensions==4.12.2
urllib3==2.2.3
virtualenv==20.26.6
websockets==13.1
yt-dlp==2024.10.22
