<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canvas Image Upload</title>
    <style>
        #myCanvas {
            border: 1px solid black;
            width: 400px;
            height: 300px
        }
        #invisibleCanvas {
            /* display: none;/ */
        }
        #uploadedImage {
            width: 400px;
            height: 300px
        }
        #invisibleCanvas {
            width: 400px;
            height: 300px
        }

    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}"
</head>
<body>
  <div>
    <h1>Upload an Image and Draw on it</h1>


    <p> new form</p>
    <form action="/upload" method="POST" enctype="multipart/form-data" id="file-upload-form" class="uploader">
        <div style = "display: flex; flex-direction: column;">
          <input id="file-upload" type="file" name="image" accept="image/*" />
  
          <label for="file-upload" id="file-drag">
            <img id="file-image" src="#" alt="Preview" class="hidden">
            <div id="start">
              <i class="fa fa-download" aria-hidden="true"></i>
              <div>Select a file or drag here</div>
              <div id="notimage" class="hidden">Please select an image</div>
              <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
            </div>
            <div id="response" class="hidden">
              <div id="messages"></div>
              <progress class="progress" id="file-progress" value="0">
                <span>0</span>%
              </progress>
            </div>
            <div>        <button type="submit">Upload Image</button></div>
          </label>
        </div>
        </form>
    {% if filename %}
    <div class = "drawing-container"> 
      <h2>Uploaded Image:</h2>
      <!-- Hidden image tag to load the image into canvas -->
      <img id="uploadedImage" src="{{ url_for('uploaded_file', filename=filename) }}">
      <div>
        <button id="btn-draw" onclick="draw()">Draw</button>
      </div>
      <!-- Canvas to draw on top of the image -->
      <div id = "drawing-content" class = "hidden" >
        <canvas id="myCanvas"></canvas>
        <canvas id="invisibleCanvas"></canvas>
        <div> 
          <button onclick="save()">Save</button>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
    
    <script src="{{ url_for('static', filename='canvas.js') }}"></script>
</body>
</html>
