<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canvas Image Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}"/>
</head>
<body>
  <div>
    <div class="topnav">
      <div class = "top-nav-left-container">
        <a class="active" href="#home">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
      </div>
      <div class = "top-nav-right-container"> 
        <a id="login" href="#login">Login</a>
        <div class = "signup-container">
          <a id="signup" href="#signup">Sign up</a>
        </div>
      </div>
    </div>
    
    <div style="padding-left:16px; ">
      <div class = "pen-emoji-container">
        <img class="pen-emoji" src="static\icons8-pencil-64.png" alt="">
      </div>
      <h2>Remove unwanted objects </br> from your photos with AI</h2>
    </div>
    <div>
      <h1>The best free tool to clean up your pictures and remove any object, person, or</br>
         watermark in 3 seconds. Easily delete undesired elements online from your</br>
          image by painting over them.</h1>
    </div>
    <h1>Upload an Image and Draw on it</h1>


    		
    <div style="height:570px">
      <div id="file-upload-form" class="uploader">
        <div class = "upload-form-container">
          <input id="file-upload" type="file" name="image" accept="image/*" />
  
          <label for="file-upload" id="file-drag" class = "flex-center">


            <img id="file-image" src="#" alt="Preview" class="hidden">
            <div id="start">
              <i class="fa fa-download" aria-hidden="true"></i>
              <div>Select a file or drag here</div>
              <div id="notimage" class="hidden">Please select an image</div>
              <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
            </div>

          <div> 

            </div>
          </label>
          <canvas id="myCanvas" ></canvas>
          <img id="uploadedImage" class = "hidden">
          <div id="response" class="hidden">
            <div id="messages"></div>
            <progress class="progress" id="file-progress" value="0">
              <span>0</span>%
            </progress>
          </div>
          <div id="submit-btn-container" >
            <button id="btn-draw" class="submit-btn">Upload Image</button>
          </div>
        </div>
      </div>
    </div>

 
    {% if filename %}
    <div class = "drawing-container"> 
      <h1>Uploaded Image:</h1>
      <!-- Hidden image tag to load the image into canvas -->
      <div class="flex-center draw-btn-container">
        <button class="submit-btn" onclick="draw()">Draw</button>
      </div>
      <!-- Canvas to draw on top of the image -->
      <div id = "drawing-content"  >

        <canvas id="invisibleCanvas" class = "hidden"></canvas>
        <div> 
          <button onclick="save()">Save</button>
        </div>
      </div>
    </div>
    {% endif %} 
  </div>


  <div>
    <div class="detectOnClick">
      <img src="https://assets.codepen.io/9177687/coupledog.jpeg" width="100%" crossorigin="anonymous" title="Click to see segmentation" />
      <canvas class="canvas-segmentation"></canvas>
      <span class="click-point"></span>
    </div>
  </div>
  <div style="top: 30px; position: relative; clear: both;">
    <div style="margin: 5px"><b>Choose your own image</b> from local storage to detect segmentation in the image.</div>
    <div>
      <div class="input">
        <button class="mdc-button mdc-button--raised" onclick="document.getElementById('uploadFile').click()">
          <span class="mdc-button__label">SELECT IMAGE</span>
        </button>
        <input id="uploadFile" type="file" accept=".jpeg,.png,.jpg" style="display:none">
      </div>
      <div class="detectOnClick" style="  width: 80%;">
        <img id="imageUpload" width="100%" crossorigin="anonymous" title="Click to segment image" />
        <canvas class="canvas-segmentation"></canvas>
        <span class="click-point"></span>
      </div>

    
    <script type="module" src="{{ url_for('static', filename='canvas.js') }}"></script>
</body>
</html>